.root {
  background: rgb(var(--light-background));
}

.dropdowns {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.dropdowns label {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  color: rgba(var(--secondary), 0.7);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.dropdown {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: rgba(var(--secondary), 0.9);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.dropdown > svg {
  color: rgb(var(--main));
  height: 1em;
}

.dropdownButtons {
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  overflow-y: auto;
}
