.root {
  background: rgb(0, 87, 168);
  border-top: 1px solid rgba(255, 255, 255, 0.01);
  border-bottom: 2px solid rgba(255, 255, 255, 0.01);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

@keyframes moveAround {
  0% {
    transform: translate(-25%, -25%);
  }
  50% {
    transform: translate(-50%, 25%);
  }
  100% {
    transform: translate(-25%, -25%);
  }
}

.root::before {
  content: "";
  display: block;
  right: -25vw;
  bottom: -25vw;
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  background: rgba(var(--secondary-bright), 0.4);
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.4rem);
  animation: moveAround 60s ease-in-out infinite;
}

.root::after {
  content: "";
  display: block;
  right: -25vw;
  bottom: -25vw;
  width: 75vw;
  height: 75vw;
  border-radius: 75vw;
  background: rgba(var(--secondary-bright), 0.4);
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.4rem);
  animation: moveAround 120s ease-in-out infinite;
}

.root > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.root h1,
.root p {
  margin-bottom: 0;
}

.root h1 {
  color: white;
}
.root p {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1rem;
}
