.menuButton {
  cursor: pointer;
  border: 0;
  background: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton:focus,
.menuButton:hover {
  background-color: rgb(var(--light-background));
}

.menuButtonWhite:focus,
.menuButtonWhite:hover {
  background-color: rgba(var(--light-background), 0.1);
}

.menu {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0.5rem 1rem rgba(var(--secondary), 0.1);
  overflow: hidden;
}
