.root,
.subtle {
  border: 0;
  margin: 2rem 0 0;
  padding: 1rem 1.5rem;
  background: rgb(var(--black));
  color: rgb(var(--white));
  letter-spacing: 0.075em;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.root:hover,
.root:focus {
  background: rgba(var(--black), 0.7);
}

.subtle {
  background: transparent;
  color: rgb(var(--black));
}

.subtle:hover,
.subtle:focus {
  background: rgba(var(--black), 0.1);
}
