.root,
.subtle {
  border: 0;
  margin: 2rem 0 0;
  padding: 1rem 1.5rem;
  background-color: rgb(var(--secondary-bright));
  color: rgb(var(--white));
  letter-spacing: var(--letter-spacing-uppercase);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.2rem;
  transition: background-color 150ms ease;
}

.root:hover,
.root:focus {
  background-color: rgba(var(--secondary-bright), 0.8);
}

.danger {
  background-color: rgb(var(--danger));
}

.danger:hover,
.danger:focus {
  background-color: rgba(var(--danger), 0.8);
}

.subtle {
  background-color: transparent;
  color: rgb(var(--secondary-bright));
}

.subtle:hover,
.subtle:focus {
  background-color: rgba(var(--secondary-bright), 0.1);
}

.subtle.danger {
  background-color: transparent;
  color: rgb(var(--danger));
}

.subtle.danger:hover,
.subtle.danger:focus {
  background-color: rgba(var(--danger), 0.1);
}

.noMargin {
  margin: 0;
}
