.root,
.subtle {
  border: 0;
  margin: 2rem 0 0;
  padding: 1rem 1.5rem;
  background-color: rgb(var(--secondary));
  color: rgb(var(--white));
  letter-spacing: 0.075em;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.2rem;
  transition: background-color 150ms ease;
}

.root:hover,
.root:focus {
  background-color: rgba(var(--secondary), 0.8);
}

.subtle {
  background-color: transparent;
  color: rgb(var(--secondary));
}

.subtle:hover,
.subtle:focus {
  background-color: rgba(var(--secondary), 0.1);
}
