.divider {
  margin: 3rem 0;
}

.content {
  margin-bottom: 25vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 20rem));
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.main {
  color: rgb(var(--main));
}

.wip::before {
  content: "WIP";
  display: inline-block;
  background: rgb(var(--danger));
  color: white;
  font-size: 0.75rem;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  line-height: 1em;
  margin-left: 0.35rem;
}

/* copied from https://codepen.io/robeen/pen/PbvJjy/ */
.explosion {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
.explosion .main-circ {
  transform-origin: 29.5px 29.5px;
  position: relative;
  z-index: 11;
}
.exploding .explosion .main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
.exploding .explosion .grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp1 .oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp1 .oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp2 .oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp2 .oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp3 .oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp3 .oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp4 .oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp4 .oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp5 .oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp5 .oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp6 .oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp6 .oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp7 .oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp7 .oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: .dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: .d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: .cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0;
  }
}
