.divider {
  margin: 3rem 0;
}

.content {
  margin-bottom: 25vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 20rem));
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.cards > * {
  display: flex;
  flex-direction: column;
}

.main {
  color: rgb(var(--main));
}

.wip::before {
  content: "WIP";
  display: inline-block;
  background: rgb(var(--danger));
  color: white;
  font-size: 0.75rem;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  line-height: 1em;
  margin-left: 0.35rem;
}
