.divider {
  margin: 3rem 0;
}

.content {
  margin-bottom: 25vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 20rem));
  grid-template-rows: 1fr;
  gap: 1.5rem;
  margin: 1rem 0;
}

.big-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 40rem));
  grid-template-rows: 1fr;
  gap: 1.5rem;
  margin: 1rem 0;
}

.buttons-right {
  display: flex;
  justify-content: flex-end;
}

.buttons-right > div,
.buttons-right > a,
.buttons-right > button {
  margin-left: 1rem;
}

.main {
  color: rgb(var(--main));
}

.wip::before {
  content: "WIP";
  display: inline-block;
  background: rgb(var(--danger));
  color: white;
  font-size: 0.75rem;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  line-height: 1em;
  margin-left: 0.35rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.break-word {
  word-break: break-word;
}

.table th{
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  background: rgb(var(--secondary-bright));
  color: white;
}

.table th,
.table td {
  padding: 0.5rem 6rem 0.5rem 0.5rem;
  border: 0.15rem solid rgba(var(--secondary), 0.2);
}

.empty {
  background: rgba(var(--secondary), 0.2);
}

/* copied from https://codepen.io/robeen/pen/PbvJjy/ */
.explosion {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 10;
}
.exploding .explosion .grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp1 .oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp1 .oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp2 .oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp2 .oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp3 .oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp3 .oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp4 .oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp4 .oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp5 .oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp5 .oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp6 .oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp6 .oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.exploding .explosion .grp7 .oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.exploding .explosion .grp7 .oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.exploding .explosion .grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.exploding .explosion .grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: .dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: .d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: .cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0;
  }
}
