:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --main: 255, 124, 0;
  --secondary: 0, 55, 104;
  --secondary-bright: 0, 84, 162;
  --danger: 203, 0, 0;
  --light-background: 240, 240, 240;

  --border-radius: 1rem;

  --box-margin: 0.5rem;
  --box-padding: 1.5rem;
  --box-width: 36rem;

  --menu-height: 3rem;
  --sidebar-width: 16.5rem;

  --letter-spacing-uppercase: 0.05em;
}

@media (min-width: 1200px) {
  :root {
    --box-margin: 2rem;
    --box-padding: 2rem;
  }
}
