.root {
  display: block;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-uppercase);
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  color: rgb(var(--secondary));
}
