.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  overflow: hidden;
  pointer-events: none;
}

.root {
  pointer-events: all;
  position: absolute;
  bottom: var(--box-margin);
  left: var(--box-margin);
  right: var(--box-margin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25rem solid rgb(var(--light-background));
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  background: rgb(var(--white));
  padding: 1.5rem var(--box-padding);
  border-radius: var(--border-radius);
  line-height: 1.6em;
  transition:
    opacity 150ms ease,
    transform 150ms ease;
}

@media (min-width: 1200px) {
  .root {
    margin: 0 auto;
    max-width: 20rem;
  }
}

.root svg {
  color: rgb(var(--secondary));
  flex-shrink: 0;
}

.root span {
  display: block;
  margin-right: 2em;
}

.error span {
  color: red;
}

.hidden {
  opacity: 0;
  transform: translateY(200%) scale(0.8);
  pointer-events: none;
}
