.explosion {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 10;
}

.exploding.explosion .grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp1 .oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp1 .oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp2 .oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp2 .oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp3 .oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp3 .oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp4 .oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp4 .oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp5 .oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp5 .oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp6 .oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp6 .oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.exploding.explosion .grp7 .oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.exploding.explosion .grp7 .oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.exploding.explosion .grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.exploding.explosion .grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.exploding.explosion .grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.exploding.explosion .grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.exploding.explosion .grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.exploding.explosion .grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: .dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: .d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: .cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: .cc8ef5;
    stroke-width: 0;
  }
}
