.root {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(var(--secondary));
}

.root:last-child {
  border-bottom: 0;
}

.link,
.folderLink {
  display: block;
  text-decoration: none;
  color: rgba(var(--white), 0.9);
  border: 0 solid transparent;
  transition: border 150ms ease;
  overflow: hidden;
  position: relative;
  padding: 0.2rem 0;
  font-size: 0.9rem;
}

.folderLink {
  padding-left: 0.4rem;
  color: rgba(var(--white), 0.5);
}

.inner {
  padding: 0.4rem 1.1rem;
  border-radius: 0.2rem;
}
