@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1);
  }
}

.wrapper {
  margin: 0 0.5rem 2rem;
  background: rgba(var(--secondary-bright), 0.4);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 1rem);
  border-bottom: 0.15rem solid rgba(var(--secondary-bright), 0.4);
  transition: border 250ms ease;
  overflow: hidden;
}

.left {
  padding: 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  font-size: 0.9rem;
}

.left:focus .name,
.left:hover .name {
  color: white;
}

.name {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.25rem;
  line-height: 1.2em;
  font-size: 0.9rem;
  transition: color 50ms ease;
}

.timer {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8rem;
}

.iconButton {
  margin-left: auto;
  height: 3rem;
  width: 3rem;
  flex-shrink: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconButton:hover .icon,
.iconButton:focus .icon {
  transform: scale(1.2);
  animation: none;
}

.icon {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  animation: pulse 2s ease-in-out infinite;
}
