.wrapper {
  height: var(--menu-height);
  background: rgb(var(--white));
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: var(--sidebar-width);
  /* background: linear-gradient(
    75deg,
    rgba(var(--light-background), 0.7),
    rgba(229, 229, 229, 0.7)
  ); */
  background: rgb(var(--secondary-bright));
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--menu-height);
  backdrop-filter: blur(1rem);
}

.account {
  margin-left: auto;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
}
