.wrapper {
  height: var(--menu-height);
  background: rgb(var(--secondary-bright));
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: var(--sidebar-width);
  background: rgba(var(--secondary-bright), 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--menu-height);
  backdrop-filter: blur(1rem);
}

.account {
  margin-left: auto;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.account strong {
  display: block;
  margin-left: 0.5em;
}
