.root {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
  background: rgb(var(--secondary));
}

.root::before {
  content: "";
  display: block;
  bottom: -72em;
  left: -1rem;
  width: 120em;
  height: 120rem;
  border-radius: 120rem;
  background: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.8rem);
}

.root::after {
  content: "";
  display: block;
  bottom: -86em;
  right: -1rem;
  width: 120em;
  height: 120rem;
  border-radius: 120rem;
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.1rem);
}

.logo {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.logo::before {
  content: "";
  display: block;
  left: -18rem;
  width: 20em;
  height: 20rem;
  border-radius: 20em;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.2rem);
}

.logo::after {
  content: "";
  display: block;
  left: -1.5rem;
  top: -1rem;
  width: 15em;
  height: 15rem;
  border-radius: 15rem;
  background: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.2rem);
}
