.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: var(--sidebar-width);
  height: 100vh;
  overflow: auto;
  background: rgb(var(--secondary));
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveAroundSmall {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(25%, 25%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.secondRoot,
.thirdRoot {
  position: fixed;
  top: 3rem;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: var(--sidebar-width);
}

.secondRoot::before {
  content: "";
  display: block;
  top: -50rem;
  left: -1rem;
  width: 120em;
  height: 120rem;
  border-radius: 120rem;
  background: linear-gradient(
    rgba(var(--secondary-bright), 0.1),
    rgba(var(--secondary-bright), 0)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.8rem);
  animation: moveAround 50s ease-in-out infinite;
}

.secondRoot::after {
  content: "";
  display: block;
  top: -86em;
  right: -1rem;
  width: 120em;
  height: 120rem;
  border-radius: 120rem;
  background: linear-gradient(
    rgba(var(--secondary-bright), 0.1),
    rgba(var(--secondary-bright), 0),
    rgba(var(--secondary-bright), 0),
    rgba(var(--secondary-bright), 0)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.1rem);
  animation: moveAround 60s ease-in-out infinite;
}

.thirdRoot::before {
  content: "";
  display: block;
  bottom: -72em;
  left: -1rem;
  width: 120em;
  height: 120rem;
  border-radius: 120rem;
  background: linear-gradient(
    rgba(var(--secondary-bright), 0.1),
    rgba(var(--secondary-bright), 0)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.8rem);
  animation: moveAround 50s ease-in-out infinite;
}

.thirdRoot::after {
  content: "";
  display: block;
  bottom: -64em;
  right: -1rem;
  width: 120em;
  height: 120rem;
  border-radius: 120rem;
  background: linear-gradient(
    rgba(var(--secondary-bright), 0.1),
    rgba(var(--secondary-bright), 0),
    rgba(var(--secondary-bright), 0),
    rgba(var(--secondary-bright), 0)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.1rem);
  animation: moveAround 60s ease-in-out infinite;
}

.logoWrapper {
  height: 3rem;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  width: var(--sidebar-width);
  background-color: rgb(var(--secondary));
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  text-decoration: none;
}

.logo::before {
  content: "";
  display: block;
  left: -18rem;
  width: 20em;
  height: 20rem;
  border-radius: 20em;
  background: rgba(var(--secondary-bright), 0.1);
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.2rem);
  animation: moveAroundSmall 25s ease-in-out infinite;
}

.logo::after {
  content: "";
  display: block;
  left: -1.5rem;
  top: -1rem;
  width: 15em;
  height: 15rem;
  border-radius: 15rem;
  background: linear-gradient(
    rgba(var(--secondary-bright), 0.1),
    rgba(var(--secondary-bright), 0.15)
  );
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  filter: blur(0.2rem);
  animation: moveAroundSmall 30s ease-in-out infinite;
}
