.root {
  border: 0;
  background: rgba(var(--secondary), 0.05);
  font-size: 1rem;
  padding: 1em;
  width: 100%;
  border-radius: 0.2rem;
}

.inverted {
  background: white;
}

.root::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
